.container-fluid, .container {
	background-color: #f5f5f5;
}

.result-paragraph{
	background-color:#f5f5f5;
}

body {
	padding-left: 100;
	padding-right: 100
}

img {
	border-width: thick;
	border: solid;
	margin-top: 25;
	margin-bottom: 25;
}

h1 {
	font-size: 4em;
}

h3 {
	font-size: 2em;
}